@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    background-color: #131e2f;
    color: #abb2bc;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
.bg-opacity {
  background-color: rgba(255, 255, 255, 0.597);
}
/* .swiper {
  width: 100%;
  height: 100%;
} */
.swiper-button-next,
.swiper-button-prev {
  color: rgba(255, 255, 255, 0.782) !important;
}
.swiper-button-next::after,
.swiper-button-prev:after {
  font-size: 80px !important;
}

@media (max-width: 425px) {
  .swiper-button-next::after,
  .swiper-button-prev:after {
    font-size: 50px !important;
  }
}
.mySwiper {
  max-width: 100%;
  max-height: 100%;
  /* height: 100%; */
  width: 100%;
  /* top: 25%; */
}

@media screen and (max-device-width: 932px) and (orientation: landscape) {
  .img-res {
    width: 35%;
    /* height: 40%; */
  }
  .swiper-button-next::after,
  .swiper-button-prev:after {
    font-size: 45px !important;
  }
  .menu-res {
    margin-top: 2rem;
  }
  .dvhTOvh {
    /* overflow-y: scroll !important; */
    height: 100vh !important;
  }
  .hiddenTOscroll {
    overflow-y: scroll !important;
  }
  .scrollTOvisible {
    overflow: visible !important;
  }
}

.fadingElement {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.651); /* Fading element color */
  position: absolute;
  bottom: 0; /* Start from the bottom */
  animation: fade-in 1s ease-in-out; /* Animation name, duration, and timing function */
}

/* Keyframes for the fade-in animation */
@keyframes fade-in {
  0% {
    transform: translateY(100%); /* Start offscreen at the bottom */
    opacity: 0;
  }
  100% {
    transform: translateY(0); /* Fade in to the top */
    opacity: 1;
  }
}
.css-10ghrmp-MuiPaper-root-MuiAppBar-root {
  background-color: #131e2f !important;
}
.sliderPortada {
  height: 100% !important;
  width: 100% !important;
}

/* LOADER */
.loader {
  /* height: 100dvh;
  width: 100dvw;
  background-color: white;
  z-index: 999 !important; */
  width: 48px;
  height: 48px;
  border-radius: 50%;
  /* position: absolute;
  top: 0; */
  animation: rotate 1s linear infinite;
  margin-bottom: 1rem;
}
.loader::before,
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #131e2f;
  animation: prixClipFix 2s linear infinite;
}
.loader::after {
  inset: 8px;
  transform: rotate3d(90, 90, 0, 180deg);
  border-color: #b4fc5c;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  75%,
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
}

.borderCustom::after {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
  content: '';
  position: absolute;
  bottom: 0;
  left: 7%; /* Adjust this value to control the position of the border */
  width: calc(100% - 7%); /* Set the width of the border */
  height: 2px; /* Set the height or thickness of the border */
  background-color: rgb(
    209 213 219 / var(--tw-border-opacity)
  ); /* Set the color of the border */
  content: '';
}
@media (min-width: 768.1px) and (max-width: 1024px) {
  .borderCustom::after {
    left: 9%;
    width: calc(100% - 9%);
  }
}
@media (min-width: 425.1px) and (max-width: 768px) {
  .borderCustom::after {
    left: 10%;
    width: calc(100% - 10%);
  }
}

@media (max-width: 425px) {
  .borderCustom::after {
    left: 16.666667%;
    width: calc(100% - 16.666667%);
  }
}
